// Place all the styles related to the public/customers controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.title {
    font-family: 'Noto Sans JP',serif;
}

table.customer_info th {
    font-family: 'Noto Sans JP',serif;
    padding: 5px 10px 5px 5px;
    border:1px solid
}

table.customer_info td {
    font-family: 'Noto Sans JP',serif;
    text-align: left;
    padding: 5px 200px 5px 5px;
    border-collapse: collapse;
    border:1px solid
}

table.update th {
    font-family: 'Noto Sans JP',serif;
    padding: 10px 0px;
}

table.update td{
    padding: 20px 50px;
}

table.links th{
    font-family: 'Noto Sans JP',serif;
    padding: 20px 0px 10px;
}

table.links td{
    padding: 10px 50px;
}