<h1>cart_products-index</h1>

        <!--<div class="product-box">-->
            <!--< % @cart_products.each do |cart_product| %>-->
        <!--<div class="col-lg-3 col-md-6 mb-4">-->
                <!--<div class="col-lg-3 col-md-3 mb-3">-->
                        <!--< %= product_id.name %><br>-->
                <!--</div>-->
            <!--< % end %>-->
        <!--</div>-->

<%= link_to "買い物を続ける", products_path %>