// Place all the styles related to the admin/products controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.flash {
  margin-top: 5px;
  margin-left: 5px;
}

.product-edit {
  width: 500px;
  margin: auto;
}

.product-new {
  width: 500px;
  margin: auto;
}

form dl dt{
  width: 160px;
  padding: 10px 0;
  float: left;
  clear: both;
}

form dl dd{
  padding: 10px 0;
}

div dl dt {
  width: 140px;
  padding: 10px 0;
  float: left;
  clear: both;
}

div dl dd {
  padding: 10px 0;
}

#product_caption {
 height: 100px;
}

.form-success {
    text-align: center;
    margin-bottom: 20px;
}

.btn-edit {
  text-align: center ;
  width: 300px;
  margin-bottom: 30px;
}

.btn-new {
  text-align: center ;
  width: 300px;
}