<div>
  <div class="about-page">
    <h5>
      ながのCAKEは、全国発送可能なケーキ屋さんです。<br>
      お子様からお年寄りの方まで、お召し上がりいただけるよう、<br>
      様々なバリエーションをご用意しております。<br>
      また、全国へ発送可能ですので『いつ』でも『どこ』でもご注文いただけます。<br>
      ぜひご注文ください。
    </h5>
  </div>
</div>