<div class="container" style="margin-bottom:510px;">
  <div class="row mt-5">
    <div class="col d-flex align-items-center justify-content-center mt-5" style="font-size: 30px;">
      ご注文ありがとうございました。<br>
      またのお買い上げ、お待ちしております。
    </div>
  </div>
</div>