// Place all the styles related to the homes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#top-img{
  opacity: 0.9;
  font-family: 'Noto Sans JP',serif;
  height:400px;
  background-image: image-url("top-img.jpg");
  background-size: cover;
	 background-position: center;
 }
 .under-line{
  border-bottom: solid 2px #cbb05e;;
 }
 #top-massage{
  text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  letter-spacing: 0.4rem;
 }
 .about-page{
  padding-top: 120px;
  height: 700px;
  font-size: 60px;
  font-family: 'Noto Sans JP',serif;
  text-align: center;
  color: #fff;
  text-shadow: 1px 1px 4px rgba(0,0,0,0.4);
  letter-spacing: 0.4rem;
  background-image: image-url("about-page.jpg");
  background-size:cover;
  background-position:center;
 }
